@font-face {
  font-family: "SofiaPro";
  src: url(./fonts/SofiaProUltraLightItalic.otf);
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: "SofiaPro";
  src: url(./fonts/SofiaProUltraLight.otf);
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "SofiaPro";
  src: url(./fonts/SofiaProLightItalic.otf);
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "SofiaPro";
  src: url(./fonts/SofiaProLight.otf);
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "SofiaPro";
  src: url(./fonts/SofiaProRegularItalic.otf);
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "SofiaPro";
  src: url(./fonts/SofiaProRegular.otf);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "SofiaPro";
  src: url(./fonts/SofiaProMediumItalic.otf);
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "SofiaPro";
  src: url(./fonts/SofiaProMedium.otf);
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "SofiaPro";
  src: url(./fonts/SofiaProSemiBoldItalic.otf);
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "SofiaPro";
  src: url(./fonts/SofiaProSemiBold.otf);
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "SofiaPro";
  src: url(./fonts/SofiaProBoldItalic.otf);
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "SofiaPro";
  src: url(./fonts/SofiaProBold.otf);
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "SofiaPro";
  src: url(./fonts/SofiaProBlackItalic.ttf);
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "SofiaPro";
  src: url(./fonts/SofiaProBlack.ttf);
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "CircularMedium";
  src: url(./fonts/CircularStdBook.woff) format("woff");
  font-style: normal;
}
