@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  box-sizing: border-box;
  outline: none;
}

html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: "Poppins", sans-serif;
  font-family: "SofiaPro", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: white;
}

#root {
  width: 100%;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-track {
  background: rgba(222, 222, 222, 0.75);
}

body::-webkit-scrollbar-thumb {
  background-color: #52b69c;
  outline: 1px solid #52b69c;
  height: 66.8424px;
  transform: translate3d(0px, 503.804px, 0px);
  border-radius: 4px;
}

@media (max-width: 1020px) {
  html {
    font-size: 12px;
  }
}

@media (max-width: 760px) {
  html {
    font-size: 11px;
  }
}
